body{
    margin:0;
    font-family: :"Lucida Grande";
}


.container{
    width: 100%;
    margin: 0 auto;
}

.top-wripper{
    padding: 180px 0 100px 0; 
    background-image: url(asset/img/background.jpg);
    background-size: cover;
    color: bisque;
    text-align: center;
}

.top-wripper h1{
    opacity: 0.7;
    font-size: 48px;
    letter-spacing: 6px;
}

.top-wripper h2{
    opacity: 0.7;
    font-size: 38px;
    letter-spacing: 8px;
}

header{
    height: 94px;
    width: 100%;
    background-color: rgba(144, 236, 69, 0.5);
    position: fixed;
    z-index: 10;
}

.logo{
    width: 100px;
}

.header-left{
    margin-left: 15px;
    margin-top: 12px;
    float: left;
}

.header-center{
    float: left;
}

.header-center h1{
    margin-left: 480px;
}

.header-right{
    float: right;
    margin-right: 15px;
    margin-top: 6px;
}

.header-right p{
    background-color: blue;
    padding: 8px 20px;
    border-radius: 10px;
}


.top-wripper h1{
    font-size: 70px;
}

.top-wripper h2{
    font-size: 46px;
}


















/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }
 